
    <mat-drawer-container class="drawer-container">
      <mat-drawer #drawer mode="side" opened class="sidenav">
          <div class="logo-container">
              <span>space for logo</span>
          </div>
          <ul>
              <li><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a></li>
              <li><a routerLink="/user"><mat-icon>person</mat-icon>User</a></li>
          </ul>
      </mat-drawer>
      <mat-drawer-content>
          
            <mat-toolbar class="toolbar">
              <button type="button" mat-button (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
              </button>
              <span>Simple CRM</span>
            </mat-toolbar>

            <div class="router-container">
                <router-outlet />

            </div>

      </mat-drawer-content>

    </mat-drawer-container>

