<button
  (click)="openDialog()"
  matTooltip="Add User"
  class="addUserBtn"
  color="primary"
  mat-fab
  aria-label="button with plus icon"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card class="table-container" appearance="raised">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    
    @for (user of fireService.users; track $index; let index = $index) {
        <tr routerLink="{{ user.id }}">
            <td>{{ user.firstName}} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.zipCode }} {{ user.city }}</td>
        </tr>
    } @empty {
        <td>No User in List</td>
    }

   
  </table>
</mat-card>
